* {
    box-sizing: border-box
}

img{
   width: 100%;
   display: block;
}

body {
  font-family: "sans-seriff";
}


.container {
  font-size: 0;
}

.container > * {
  font-size: medium;
  display: inline-block;
  vertical-align: top;
}


.header-pic {
  width: 100%;
}

.header-pic img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.header-menu {
  width: 100%;
  text-align: center;
  color: #b7b5b5;
  font-weight: 100;
}


.pic {
  width: 50%;
  margin: 0 auto;
}


.search {
  border: #b7b5b5 1px solid;
  margin-left: 300px;

}

.search input {
  text-align: center;

}
.arrow {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 768px ) {
  .pic {
  width: 33.33%;
  }

  .header-pic {
    width: 70%;
  }

  .header-menu {
    width: 30%;
  }

.arrow {
  display: inline-block;
  margin-left: 400px;
}

.search {
  margin: 0;
}
}

@media screen and (min-width: 992px) {
  .pic {
    width: 25%;
  }

  .arrow {
    width: 0;
  }


  .search {
    margin-left: 0;
    width: 100%;
    border: none;
  }
}
